body {
    display: flex;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

sidebar {
    width: 33%;
}

main {
    width: 67%;
}
