body {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

sidebar {
    padding-left:3%;
    width: 30%;
}

main {
    width: 50%;
    padding-right:5%;
    border-right: 2px solid black;
}
