body {
    display: flex;
    flex-wrap: wrap;
}
.content{
       height: 100vh;
}
img {
    width: 100%;
}

h1 {
    text-align:center;
    font-size: 70px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

sidebar {
    display: flex;
    flex-direction: column;
    padding-left:3%;
    width: 30%;
}

main{
    text-align: center;
    width: 50%;
    padding-right:5%;
    border-right: 2px solid black;
}
